body,html{
    height:100%
}
body,h1,h2,h3,h4,h5,h6{
    padding:0;
    font-family:'Open Sans',sans-serif;
    font-weight:300
}
h2,h3,h4,h5{
    line-height:1.4em
}
h1,h6{
    line-height:1.2em
}
body,p{
    margin:0
}
.clearfix,.row{
    clear:both
}
.form-row input.btn,a.btn,a.btn:visited{
    text-shadow:0 -1px rgba(0,0,0,.2);
    text-decoration:none
}
#header h1,.item-box,.span1,.span10,.span11,.span12,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9{
    float:left
}
#menu ul li a,.form-row input.btn,a.btn,a.btn:visited,form a,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
    text-decoration:none
}
#menu ul,#menu ul li,#sidebar ul,#sidebar ul li{
    list-style:none
}
body{
    color:#777;
    font-size:14px;
    line-height:1.6em
}
h1,h2,h3,h4,h5,h6{
    margin:0 0 1em;
    color:#111
}
h1,h2{
    margin:0 0 .8em
}
h1{
    font-size:3em
}
h2{
    font-size:1.8em
}
h3{
    font-size:1.4em
}
h4{
    font-size:1.2em
}
h5{
    font-size:1.1em
}
h6{
    font-size:1em
}
p{
    padding:0 0 1em
}
a{
    color:#333
}
a.btn,a.btn:visited{
    width:100%;
    padding:1em 1.5em;
    margin:0 1em 0 0;
    font-size:1em;
    line-height:3em;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background-image:-webkit-linear-gradient(top,#4bb2ec,#168cce);
    background-image:-moz-linear-gradient(top,#4bb2ec,#168cce);
    background-image:-ms-linear-gradient(top,#4bb2ec,#168cce);
    background-image:-o-linear-gradient(top,#4bb2ec,#168cce)
}
a.btn-secondary{
    border:1px solid #fff!important;
    background:url(../images/trans.png)!important
}
a.btn-secondary:hover{
    border:1px solid rgba(255,255,255,.6)!important
}
img{
    border:0
}
.glyph-item{
    display:inline-block;
    width:1.5em;
    height:1.5em;
    line-height:1
}
.mega{
    font-size:3.2em
}
.container{
    margin:0 auto;
    min-width:50em;
    max-width:81.25em
}
.inner{
    margin:0 2em 2em 0
}
#wrapper{
    background:top center fixed #333;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height:100%;
    color:#fff
}
.wrapper-flexi,.wrapper-page{
    height:auto!important
}
.wrapper-page .hero{
    padding:1em 0 .5em 1em
}
.wrapper-page .hero h1{
    text-align:left;
    padding:0;
    margin:0;
    font-size:4em
}
.wrapper-page .hero h2{
    text-align:left;
    padding:0;
    margin:.5em 0 0;
    font-size:1.2em;
    color:rgba(255,255,255,.7)!important
}
.row{
    margin:0;
    padding:0
}
.span12{
    width:100%
}
.span11{
    width:91.6666666667%
}
.span10{
    width:83.3333333333%
}
.span9{
    width:75%
}
.span8{
    width:66.6666666667%
}
.span7{
    width:58.3333333333%
}
.span6{
    width:50%
}
.span5{
    width:41.6666666667%
}
.span4{
    width:33.3333333333%
}
.span3{
    width:25%
}
.span2{
    width:16.6666666667%
}
.span1{
    width:8.33333333333%
}
.align-center{
    text-align:center
}
.align-left{
    text-align:left
}
.align-right,.form-row .inner{
    text-align:right
}
#content .inner{
    padding:2em 2em 1em 0
}
.item-box{
    width:45%
}
.strip{
    padding-left:1em;
    border-bottom:solid 1px #dce2e5
}
.strip-alt{
    background:#f6f8f9
}
.strip .inner{
    padding:4em 2em 1em 0
}
.highlight h2{
    font-size:2.2em
}
.highlight h4{
    line-height:1.6em;
    color:#777;
    font-size:1.4em
}
.highlight .inner-text{
    padding:8em 0 4em
}
img.promoimg{
    display:block;
    max-width:100%;
    width:auto;
    height:auto;
    margin:0 auto
}
.features .inner{
    text-align:center
}
.features .inner .glyph-item{
    font-size:3em
}
form a:hover{
    text-decoration:underline
}
.form-row{
    margin-bottom:1em
}
.form-row input.text,.form-row textarea{
    width:92%;
    border:1px solid #ccc;
    padding:1em 4%;
    font-size:1em;
    font-weight:300;
    font-family:'Open Sans',Helvetica,sans-serif;
    background:url(../images/form_background.png) top left repeat-x #fff;
    color:#666;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow:0 1px 0 0 #fff;
    -webkit-box-shadow:0 1px 0 0 #fff;
    box-shadow:0 1px 0 0 #fff
}
.form-row select{
    width:100%;
    font-size:1em
}
.form-row input.btn{
    padding:1em 1.5em;
    font-size:1em;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background-image:-webkit-linear-gradient(top,#4bb2ec,#168cce);
    background-image:-moz-linear-gradient(top,#4bb2ec,#168cce);
    background-image:-ms-linear-gradient(top,#4bb2ec,#168cce);
    background-image:-o-linear-gradient(top,#4bb2ec,#168cce)
}
#header,.hero,.intro{
    text-shadow:0 -1px 1px rgba(0,0,0,.3)
}
#menu ul li.current a,.intro h1 span,.subscribe{
    background:url(../images/trans.png)!important
}
.form-row label{
    font-size:1.2em;
    color:#111;
    font-weight:300;
    line-height:3em
}
.form-row label .glyph-item{
    margin:0 0 0 .5em
}
.form-row .btn-extrawide{
    margin:0;
    width:100%;
    padding-left:0;
    padding-right:0
}
.form-row .inner{
    margin:0 1em 0 0
}
#footer,.hero,.icons,.pricing,.subscribe{
    text-align:center
}
#header{
    padding:1.2em 0 1.5em 1em;
    position:relative
}
#header h1{
    margin:0;
    padding:0;
    font-size:1.4em;
    font-weight:400
}
#header h1 a,#menu ul li a:hover{
    color:#fff
}
#menu{
    margin-right:.5em;
    float:right;
    display:inline
}
.form-box,.hero,.shadow,h2.menulink{
    display:none
}
#menu ul{
    padding:0;
    margin:.7em 1em 0 0
}
#menu ul li{
    padding:0;
    margin:0 .5em 0 0;
    float:left
}
#menu ul li a{
    font-size:.9em;
    color:rgba(255,255,255,.9);
    padding:.5em 1em
}
#menu ul li.current a{
    border:1px solid rgba(255,255,255,.3);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
#menu ul li.current a:hover{
    border-color:#fff
}
.hero{
    padding:1em 3em 0
}
.hero-narrrow{
    padding-left:20%;
    padding-right:20%
}
.hero h1{
    font-size:2.7em;
    margin:0 0 .5em;
    font-weight:300
}
.hero h2{
    font-size:1.1em;
    color:rgba(255,255,255,.9)!important;
    margin-bottom:2em
}
.hero h1,.hero h1 a,.hero h2,.hero h2 a,.hero h3,.hero h3 a,.hero h4,.hero h4 a,.hero h5,.hero h5 a,.hero h6,.hero h6 a{
    color:#fff
}
.icons{
    margin-top:1em
}
.icons a .glyph-item{
    color:#fff;
    font-size:2em
}
.icons a:hover .glyph-item{
    color:#fff;
    font-size:2em;
    color:rgba(255,255,255,.5)!important
}
.icons .glyph-item,.intro,.intro h1,.intro h2{
    color:#fff
}
.intro{
    padding:0;
    margin:4em 0 2em
}
.intro h1 span{
    border:1px solid #fff;
    padding:0 .3em .15em;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px
}
.intro h2{
    color:rgba(255,255,255,.8);
    font-size:1.4em;
    margin:0;
    padding:0
}
.featured img{
    margin-bottom:-6px
}
.subscribe{
    border:1px solid rgba(255,255,255,.8);
    padding:1em;
    margin:2em 0 4em;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
.subscribe .form-row{
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    padding:0;
    margin:0;
    background:#fff
}
.subscribe .form-row input.text{
    width:50%;
    padding:1em 5%;
    float:left;
    border:0;
    margin:0
}
.subscribe .form-row .btn{
    width:40%;
    padding:1.1em 5%;
    float:right;
    margin:0;
    border:0;
    -webkit-border-top-left-radius:0;
    -webkit-border-bottom-left-radius:0;
    -moz-border-radius-topleft:0;
    -moz-border-radius-bottomleft:0;
    border-top-left-radius:0;
    border-bottom-left-radius:0
}
.form-box{
    padding:0;
    margin:2em 0 0;
    background:#f9f9f9;
    border:1px solid rgba(0,0,0,.5);
    -moz-box-shadow:0 0 2px 2px rgba(0,0,0,.1);
    -webkit-box-shadow:0 0 2px 2px rgba(0,0,0,.1);
    box-shadow:0 0 2px 2px rgba(0,0,0,.1);
    color:#666
}
.form-box .top{
    background:#fff;
    padding:1.5em;
    border-bottom:solid 1px #dce2e5
}
.form-box .top h1{
    color:#222;
    font-weight:300;
    margin:0;
    padding:0
}
.form-box .top h1 span{
    font-weight:400
}
.form-box .top h2{
    color:#222;
    font-weight:400;
    margin:0 0 .2em;
    padding:0
}
.form-box .top h3{
    margin:0;
    padding:0
}
.form-box .top p{
    padding:0;
    margin:0
}
.form-box .bottom{
    background:#efefef;
    padding:1.5em
}
.shadow{
    background:url(../images/shadow.png) top center no-repeat;
    height:20px
}
#footer{
    color:#999;
    padding:3.5em 0 3em
}
#footer a .glyph-item{
    color:#999;
    font-size:2em
}
#footer a:hover .glyph-item{
    color:#222
}
.pricing .blocks{
    padding:4em 4em 1em 6em
}
.pricing .blocks .inner{
    padding:0
}
.pricing .blocks .inner ul,.pricing .blocks .inner ul li{
    list-style:none;
    padding:0;
    margin:0
}
.pricing .blocks .inner ul{
    border:1px solid #dce2e5;
    border-bottom:0;
    margin-bottom:1em
}
.pricing .blocks .inner ul li{
    border-bottom:solid 1px #dce2e5;
    background:#fff;
    padding:.8em 0
}
.pricing .blocks .inner ul li h2{
    margin:0;
    padding:0
}
.pricing .blocks .inner.primary ul li h2{
    padding:1em 0;
    font-weight:400
}
.pricing .blocks .inner.secondary{
    margin-top:2em
}
.pricing .blocks .inner ul li h1{
    margin:.2em 0 0;
    line-height:1em;
    padding:0
}
.pricing .blocks .inner ul li h1 span{
    font-size:.8em;
    color:#fff
}
.pricing .blocks .inner ul li h1 strong{
    font-weight:400;
    color:#fff
}
.pricing .blocks .inner ul li h1 small{
    font-size:.4em;
    color:rgba(255,255,255,.7)
}
.pricing .blocks .inner a.btn{
    line-height:5em
}
#sidebar{
    margin-top:1em
}
#sidebar ul{
    padding:0;
    margin:0
}
#sidebar ul li{
    padding:0 0 1em;
    margin:0 0 2em;
    border-bottom:solid 1px #dce2e5
}
#sidebar ul li h3{
    margin:0 0 .8em
}
@media screen and (max-width:50em){
    .container{
        min-width:100%;
        max-width:100%
    }
    #header{
        padding:1em
    }
    #menu li a,#menu ul li.current a{
        float:none;
        clear:both;
        color:#333!important;
        padding:1em!important
    }
    #header h1{
        margin-left:.2em
    }
    #menu li,#menu ul{
        margin:0
    }
    #menu{
        position:absolute;
        top:0;
        left:1em;
        right:3.8em;
        -moz-box-shadow:5px 5px 5px rgba(0,0,0,.1);
        -webkit-box-shadow:5px 5px 5px rgba(0,0,0,.1);
        box-shadow:5px 5px 5px rgba(0,0,0,.1);
        text-shadow:none;
        display:none
    }
    #menu li{
        display:block;
        width:100%;
        float:none;
        clear:both
    }
    #menu li a{
        display:block;
        background:#fff;
        border-bottom:solid 1px #dce2e5
    }
    #menu ul li.current a{
        border:0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius:0;
        background:#fff!important
    }
    h2.menulink,h2.menulink a{
        width:30px;
        height:30px;
        border:0
    }
    h2.menulink{
        float:right;
        display:inline;
        margin:0
    }
    h2.menulink a{
        display:block;
        text-indent:-1000px;
        background:url(../images/menu_btn_background.png) center center no-repeat;
        overflow:hidden
    }
    .form-row label .glyph-item,.shadow{
        display:none
    }
    .hero{
        padding:4em 1em;
        margin:0 0 2em
    }
    .form-box{
        margin:0 1em
    }
    .strip .inner{
        padding:1em
    }
    .pricing .blocks{
        padding:1em 1em 1em 1em
    }
    .form-row label{
        line-height:1em
    }
    .form-row .inner{
        margin:0;
        text-align:left
    }
    .intro{
        padding:1em
    }
    .intro h1{
        font-size:2em
    }
    .intro h2{
        font-size:1.2em
    }
    #wrapper{
        height:auto!important
    }
    .padded{
        padding:1.5em
    }
    .features{
        padding-top:3em
    }
}
.form-row input.btn,a.btn,a.btn:visited{
    border:1px solid #06507b;
    color:#fff;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#4bb2ec, endColorstr=#168cce)
}
@media screen and (max-width:45em){
    .container{
        min-width:100%;
        max-width:100%
    }
    .span1,.span10,.span11,.span12,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9{
        width:100%
    }
    .inner{
        margin:0 0 1em
    }
    #container_main{
        margin:0
    }
    #container_sidebar{
        float:none;
        clear:both;
        width:100%
    }
    #header{
        margin-bottom:10px;
        padding-left:10px
    }
}
@media screen and (min-width:50em){
    #menu{
        display:block!important
    }
}
#wrapper{
    background-image:url(../images/bk_site.jpg)!important
}
a.btn,a.btn:visited{
    background-color:#4bb2ec;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#4bb2ec),to(#168cce));
    background-image:-webkit-linear-gradient(top,#4bb2ec,#168cce);
    background-image:-moz-linear-gradient(top,#4bb2ec,#168cce);
    background-image:-ms-linear-gradient(top,#4bb2ec,#168cce);
    background-image:-o-linear-gradient(top,#4bb2ec,#168cce);
    background-image:linear-gradient(to bottom,#4bb2ec,#168cce)
}
a.btn:hover{
    background:#168cce
}
.form-row input.btn{
    background-color:#4bb2ec;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#4bb2ec),to(#168cce));
    background-image:-webkit-linear-gradient(top,#4bb2ec,#168cce);
    background-image:-moz-linear-gradient(top,#4bb2ec,#168cce);
    background-image:-ms-linear-gradient(top,#4bb2ec,#168cce);
    background-image:-o-linear-gradient(top,#4bb2ec,#168cce);
    background-image:linear-gradient(to bottom,#4bb2ec,#168cce)
}
.form-row input.btn:focus,.form-row input.btn:hover{
    background:#168cce
}
.glyph-item{
    color:#168cce
}
.pricing .blocks .inner ul li.price{
    background:#4bb2ec;
    border-bottom:solid 5px #168cce;
    margin-top:-1px
}
.highlight h2 span{
    color:#4bb2ec
}
